.container {
  margin: 20px auto;
  height: 100%;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;

  margin-top: 20px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form {
  height: 550px;
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.title {
  color: #f80;
}

.img {
  height: 380px;
  width: 350px;
}

.img img {
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin: auto 0;
}

.nation,
.year {
  margin: auto 0;
  font-size: 20px;
  font-weight: 700;
  animation: fletch 1s linear infinite;
}

@keyframes fletch {
  0% {
    color: rgb(206, 72, 72);
    opacity: 0.8;
  }
  50% {
    color: wheat;
  }
  100% {
    color: rgb(206, 72, 72);
    opacity: 0.8;
  }
}

/* Film.css */

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #ccc;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.button:hover a {
  color: #fff;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 2px 4px 2px;
}
