.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  padding: 20px 50px;

  /* background-position: */
}

.product-tumb {
  display: flex;
  flex: 1;
  justify-content: center;
}

.product-tumb img {
  height: 500px;
  box-shadow: 0 0 10px #202020;
}

.product-text {
  flex: 2;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 700px;
  font-size: 18px;
  margin-top: 40px;
  /* justify-content: flex-end; */
}

.product-info div:not(:last-child) {
  margin-bottom: 8px;
}

.badge {
  font-size: 50px;
  font-weight: 600;
  color: #f80;
}

.product-details {
  opacity: 0.8;
  text-indent: 5px;
  text-align: justify;
}

.btn {
  margin-top: 80px;
  display: flex;
  width: 500px;
  justify-content: space-around;
  font-weight: 1000;
}
.btn button {
  font-weight: 1000;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 6px #5a5f69;
}
.btn button:not(:last-child) {
  margin-right: 30px;
}
.btn-view {
  background-image: linear-gradient(90deg, #f80, #ea3c2a 50%, #f80);
}
.btn-view a {
  text-decoration: none;
  color: #eee;
}

.btn-view:hover {
  box-shadow: 0 0 14px -1px #f80;
}

.product-video {
}

.btn-follow:hover {
  color: #ea3c2a;
}
