.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  width: 300px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.badge {
  background-color: #555;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.product-tumb img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 14px;
  color: #333;
  text-align: justify;
}
