#light {
  background-color: #eee;
}
#dark {
  background-color: #202020;
}

#dark .contact-form,
#dark .not-found {
  color: white;
}

/* #dark .slick-dots button {
  background-color: white;
} */
.App {
  margin: 0 auto;
  min-height: 300px;
  margin: 0px 100px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
