body {
  position: relative;
}
#light {
  background-color: white;
}
#dark {
  background-color: black;
}
#light .form {
  color: black;
}
#dark .form {
  color: white;
  box-shadow: 2px 2px 4px 2px rgba(165, 186, 172, 0.219);
}
.switch {
  position: absolute;
  left: 50%;
}
