#light {
  background-color: #eee;
}
#dark {
  background-color: #5a5f69;
}

#dark .contact-form,
#dark .not-found,
#dark .product-card {
  color: white;
}

#dark .form {
  background-color: #202020;
}

#dark .button {
  background-color: #f80;
}

#dark .button:hover {
  background-color: rgb(244, 172, 90);
}

#dark .navigation {
  background-color: #f80;
}

#dark .navigation a {
  color: #fff;
}
/* #dark .title {
  color: black;
} */
#dark .card:hover {
  box-shadow: 0 2px 4px 2px #f80;
}

/* #dark .slick-dots button {
  background-color: white;
} */
.App {
  margin: 0 auto;
  min-height: 300px;
  margin: 0px 100px;
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
